{% extends 'web/partials/base.html' %}
{% load static %}

{% block content %}

	<!-- Banner -->
	<div class="banner inner-page abt-us-banner">
		<div class="banner-content">
			<div class="container">
				<div class="row">
					<div class="banner-text">
						<h1 class="page-title">About Us</h1>
						<p class="page-breadcrumb">Home / <span class="current">About Us</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End banner -->

	<!-- Main Content -->
	<div class="main-content about-us section-pad">
		<div class="container">
			<div class="row">
				<div class="about-wrapper row">
					<div class="col-md-7 col-sm-12 res-m-bttm">
						<div class="about-text">
							<h2 class="section-heading">About Our Corporation</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor nostrud exercitation ullamco.</p>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
							<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut.</p>
						</div>
					</div>
					<div class="col-md-5 col-sm-12">
						<img alt="" src="{% static 'web/image/abt-left-img.jpg' %}">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Main content -->

	<!-- Service -->
	<div class="abt-page section-pad">
		<div class="container">
			<div class="row">
				<div class="row inner-content content">
					<div class="col-md-5 res-m-bttm">
						<h3 class="section-heading">Our Mission</h3>
						<p>Lorem ipsum dolor sit amet, consecteturt adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Promeo ipsum dolor sit amet, consecteturt adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						<h4>With proud!!</h4>
						<p>Lorem ipsum dolor sit amet, consecteturt adipiscing elit sed do eiusmod tempor incididunt ut labore et.</p>
						<h4>Business Goal</h4>
						<p>Lorem ipsum dolor sit amet, consecteturt adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Promeo ipsum dolor sit amet.</p>
					</div>
					<div class="col-md-6 col-md-offset-1">
						<h3 class="section-heading">Our Hisotry</h3>
						<p>Lorem ipsum dolor sit amet, consecteturt adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Veniam quis nostrud exercitation ullamci uconsequat.</p>
						<div class="gaps"></div>
						<div class="row  content">
							<div class="col-md-6 res-m-bttm-sm">
								<h4>2013</h4>
								<p>Natus perspiciatis unde omnis iste natus ewpor sit volup.</p>
							</div>
							<div class="col-md-6">
								<h4>2014</h4>
								<p>Ut perspiciatis unde omnis iste natus ewpor sit lorem.</p>
							</div>
							<div class="gaps"></div>
							<div class="clearfix"></div>
							<div class="col-md-6 res-m-bttm-sm">
								<h4>2015</h4>
								<p>Natus perspiciatis unde omnis iste natus ewpor sit volup.</p>
							</div>
							<div class="col-sm-6">
								<h4>2016</h4>
								<p>Ut perspiciatis unde omnis iste natus ewpor sit lorem.</p>
							</div>
						</div>

					</div>
				</div>
			</div>			
		</div>
	</div>
	<!-- End service -->

	<!-- team -->
	<div class="teams section-pad">
		<div class="container">
			<div class="row">

				<div class="col-md-offset-2 col-md-8 text-center">
					<h2 class="section-heading">Executive Team</h2>
					<p>Cepsum dolor sit amet consectetur to adipiscing elit, sed dot eiusmod tempor incididunt labore et dolore magna aliqua. Veniam quis nostrud exercitation ullamco laboris.</p>
				</div>

				<div class="clear"></div>
				<div class="content row team-member-row">
					<div class="col-md-3 col-sm-6 col-xs-6">
						<!-- Team Profile -->
						<div class="team-member">
							<div class="team-photo">
								<img alt="" src="{% static 'web/image/team1.jpg' %}" srcset="{% static 'web/image/team1-2x.jpg' %} 2x">
							</div>
							<div class="team-info">
								<h4 class="name">Mary Till</h4>
								<p class="sub-title">Executive Officer</p>
							</div>
							<ul class="social">
								<li>
									<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
						<!-- Team #end -->
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6">
						<!-- Team Profile -->
						<div class="team-member">
							<div class="team-photo">
								<img alt="" src="{% static 'web/image/team2.jpg' %}" srcset="{% static 'web/image/team2-2x.jpg' %} 2x">
							</div>
							<div class="team-info">
								<h4 class="name">Nicholas Johnstone</h4>
								<p class="sub-title">Senior Executive</p>
							</div>
							<ul class="social">
								<li>
									<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
						<!-- Team #end -->
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6">
						<!-- Team Profile -->
						<div class="team-member">
							<div class="team-photo">
								<img alt="" src="{% static 'web/image/team3.jpg' %}" srcset="{% static 'web/image/team3-2x.jpg' %} 2x">
							</div>
							<div class="team-info">
								<h4 class="name">Thomas Crossley</h4>
								<p class="sub-title">Oparation Manager</p>
							</div>
							<ul class="social">
								<li>
									<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
						<!-- Team #end -->
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6">
						<!-- Team Profile -->
						<div class="team-member">
							<div class="team-photo">
								<img alt="" src="{% static 'web/image/team4.jpg' %}" srcset="{% static 'web/image/team4-2x.jpg' %} 2x">
							</div>
							<div class="team-info">
								<h4 class="name">Henry Glasgow</h4>
								<p class="sub-title">CEO &nbsp; Vice-President</p>
							</div>
							<ul class="social">
								<li>
									<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
						<!-- Team #end -->
					</div>
				</div><!-- TeamRow #end -->
				<a class="btn btn-center solid-btn" href="teams.html">All Team Member</a>

			</div>	
		</div>
	</div>
	<!-- End team -->

	<!-- Client logo -->
	<div class="cl-logo extend section-pad">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-2 col-md-8 text-center">
					<h4 class="section-heading">Who Working With Us</h4>
					<p>Lorem ipsum dolor sit amet consectetur to adipiscing elit, sed dot eiusmod tempor incididunt labore et dolore magna aliqua. Veniam quis nostrud exercitation ullamco laboris nisiut.</p>
				</div>
				<div class="lgo-wrapper content">
					<div class="gaps size-lg"></div>
					<div class="row">
						<div class="col-sm-3">
							<img alt="" src="{% static 'web/img/client logos-1.png' %}">
						</div>
						<div class="col-sm-3">
							<img alt="" src="{% static 'web/img/client logos-2.png' %}">
						</div>
						<div class="col-sm-3">
							<img alt="" src="{% static 'web/img/client logos-3.png' %}">
						</div>
						<div class="col-sm-3">
							<img alt="4" src="{% static 'web/img/client logos-4.png' %}">
						</div>
						<div class="gaps"></div>
						<div class="col-sm-3">
							<img alt="5" src="{% static 'web/img/client logos-5.png' %}">
						</div>
						<div class="col-sm-3">
							<img alt="6" src="{% static 'web/img/client logos.png' %}">
						</div>
						<div class="col-sm-3">
							<img alt="1" src="{% static 'web/img/client logos-1.png' %}">
						</div>
						<div class="col-sm-3">
							<img alt="2" src="{% static 'web/img/client logos-2.png' %}">
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<!-- Client logo -->

	<!-- Call  action -->
	<div class="call-action call-action-small parallaxie has-parallax" style="background:url('{% static 'web/image/call-action-bg.jpg' %}');">
		<div class="overly">
			<div class="container">
				<div class="row">
					<div class="cta-sameline">
						<h3>Ready to start work with us?</h3>
						<a class="btn solid-btn" href="contact.html">Get In Touch</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End call action -->
{% endblock %}