{% extends 'web/partials/base.html' %}
{% load static %}

{% block content %}

	<!-- Banner -->
	<div class="banner inner-page abt-us-banner">
		<div class="banner-content">
			<div class="container">
				<div class="row">
					<div class="banner-text">
						<h1 class="page-title">FAQ's</h1>
						<p class="page-breadcrumb">Home / <span class="current">Frequently Asked Questions</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End banner -->

	<!-- FAQ Content -->
	<div class="faqs-section section-pad">
		<div class="container">
			<div class="row">
				
				<div class="faqs-row faqs-s1 row content">
					<div class="col-md-3 col-sm-12">
						<div class="faqs">
							<h2 class="section-heading">General Questions</h2>
							<p>All you need to know about our support and how to do it.</p>
						</div>
					</div>
					<div class="col-md-8 col-md-offset-1">
						<div class="row">
							<div class="col-sm-6">
								<!-- Faq ques/ans -->
								<div class="faqs">
									<h3 class="faq-heading">How does it works?</h3>
									<p>Internal audit is an independent, objective assurance and consulting activity designed to add value and improve an organization.</p>
								</div>
								<!-- Faq ques/ans #end -->
							</div>
							<div class="col-sm-6">
								<!-- Faq ques/ans -->
								<div class="faqs">
									<h3 class="faq-heading">How long my product reach?</h3>
									<p>Consulting activity designed to add value and improve an organization’s operations.</p>
								</div>
								<!-- Faq ques/ans #end -->
							</div>
							<div class="clearfix"></div>
							<div class="col-sm-6">
								<!-- Faq ques/ans -->
								<div class="faqs">
									<h3 class="faq-heading">How will I know if you find?</h3>
									<p>Lorem ipsum dolor sit amet, vix an natum labitur eleifd, mel am laoreet menandri usto complect duo natum labitur.</p>
								</div>
								<!-- Faq ques/ans #end -->
							</div>
							<div class="col-sm-6">
								<!-- Faq ques/ans -->
								<div class="faqs">
									<h3 class="faq-heading">How long does an audit take?</h3>
									<p>We budget between 200 and 600 hours for a typical delivery, depending on the size and complexity of your business.</p>
								</div>
								<!-- Faq ques/ans #end -->
							</div>
						</div>
					</div>
				</div> <!-- FAQ Row #end -->

			</div>
		</div>
	</div>
	<!-- FAQ Alter -->
	<div class="faqs-section bg-light section-pad">
		<div class="container">
			<div class="row">

				<div class="faqs-row faqs-s1 row content">
					<div class="col-md-3 col-sm-12">
						<div class="faqs">
							<h2 class="section-heading">Other Questions</h2>
							<p>The answers on most common questions are described bellow.</p>
						</div>
					</div>
					<div class="col-md-8 col-md-offset-1">
						<div class="row">
							<div class="col-sm-6">
								<!-- Faq ques/ans -->
								<div class="faqs">
									<h3 class="faq-heading">What kinds of companies?</h3>
									<p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. </p>
								</div>
								<!-- Faq ques/ans #end -->
							</div>
							<div class="col-sm-6">
								<!-- Faq ques/ans -->
								<div class="faqs">
									<h3 class="faq-heading">What are typical considerations?</h3>
									<p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. </p>
								</div>
								<!-- Faq ques/ans #end -->
							</div>
							<div class="clearfix"></div>
							<div class="col-sm-6">
								<!-- Faq ques/ans -->
								<div class="faqs">
									<h3 class="faq-heading">When should I approach?</h3>
									<p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. </p>
								</div>
								<!-- Faq ques/ans #end -->
							</div>
							<div class="col-sm-6">
								<!-- Faq ques/ans -->
								<div class="faqs">
									<h3 class="faq-heading">Should I expect to pay fees?</h3>
									<p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. </p>
								</div>
								<!-- Faq ques/ans #end -->
							</div>
							<div class="clearfix"></div>
							<div class="col-sm-6">
								<!-- Faq ques/ans -->
								<div class="faqs">
									<h3 class="faq-heading">When should I approach?</h3>
									<p>Donec nec justo eget felis facilisis fermentum. Aliquam porttitor mauris sit amet orci. Aenean dignissim pellentesque felis. </p>
								</div>
								<!-- Faq ques/ans #end -->
							</div>
						</div>
					</div>
				</div> <!-- FAQ Row #end -->

			</div>
		</div>
	</div>
	<!-- End FAQ content -->
	<!-- Call  action -->
	<div class="call-action call-action-small parallaxie has-parallax" style="background:url('{% static 'web/image/call-action-bg.jpg' %}');">
		<div class="overly">
			<div class="container">
				<div class="row">
					<div class="cta-sameline">
						<h3>Ready to start work with us?</h3>
						<a class="btn solid-btn" href="contact.html">Get In Touch</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End call action -->

	<!-- Client logo -->
	<div class="cl-logo section-pad">
		<div class="container">
			<div class="row">
				<div class="owl-carousel loop logo-carousel">
					 <div>
						<img alt="" width="190" height="82" src="{% static 'web/img/client logos-1.png' %}">
					</div>
					<div>
						<img alt="" width="190" height="82" src="{% static 'web/img/client logos-2.png' %}">
					</div>
					<div>
						<img alt="" width="190" height="82" src="{% static 'web/img/client logos-3.png' %}">
					</div>
					<div>
						<img alt="" width="190" height="82" src="{% static 'web/img/client logos-4.png' %}">
					</div>
					<div>
						<img alt="" width="190" height="82" src="{% static 'web/img/client logos-5.png' %}">
					</div>
					<div>
						<img alt="" width="190" height="82" src="{% static 'web/img/client logos.png' %}">
					</div>
				</div>
			</div>
		</div>	
	</div>
	<!-- Client logo -->
{% endblock %}