{% extends 'web/partials/base.html' %}
{% load static %}

{% block content %}
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/magnific-popup.css' %}">

	<!-- Banner -->
	<div class="banner inner-page abt-us-banner">
		<div class="banner-content">
			<div class="container">
				<div class="row">
					<div class="banner-text">
						<h1 class="page-title">Gallery</h1>
						<p class="page-breadcrumb">Home / <span class="current">Gallery</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End banner -->


	<div class="gallery-section section-pad">
	    <div class="container">
	        <div class="row">
	        	<div class="col-md-offset-2 col-md-8 text-center content">
					<h2 class="section-heading">Our Gallery</h2>
					<p>Lorem ipsum dolor sit amet consectetur to adipiscing elit, sed dot eiusmod tempor incididunt labore et dolore magna aliqua. Veniam quis nostrud exercitation ullamco laboris nisiut.</p>
				</div>

				<!-- Simple Gallery Album  Row  -->
				<div class="feature-row gallery-row row content">
					<div class="col-md-3 col-sm-6 col-xs-6">
						<!-- gallery/album -->
						<div class="feature feature-project boxed">
							<a href="gallery-photos.html">
								<div class="fbox-photo">
									<img src="{% static 'web/image/image-a.jpg' %}" alt="" srcset="image/image-a-2x.jpg 2x">
								</div>
							</a>
							<div class="fbox-content">
								<h3><a href="gallery-photos.html">Gallery Name</a></h3>
								<p class="sub-lead">Global Event</p>
							</div>
						</div>
						<!-- End -->
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6">
						<!-- gallery/album -->
						<div class="feature feature-project boxed">
							<a href="gallery-photos-all.html">
								<div class="fbox-photo">
									<img src="{% static 'web/image/image-h.jpg' %}" alt="" srcset="image/image-h-2x.jpg 2x">
								</div>
							</a>
							<div class="fbox-content">
								<h3><a href="gallery-photos-all.html">Great Event</a></h3>
								<p class="sub-lead">Local Event</p>
							</div>
						</div>
						<!-- End -->
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6">
						<!-- gallery/album -->
						<div class="feature feature-project boxed">
							<a href="gallery-photos.html">
								<div class="fbox-photo">
									<img src="{% static 'web/image/image-c.jpg' %}" alt="" srcset="image/image-c-2x.jpg 2x">
								</div>
							</a>
							<div class="fbox-content">
								<h3><a href="gallery-photos.html">Album Name</a></h3>
								<p class="sub-lead">Event 2017</p>
							</div>
						</div>
						<!-- End -->
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6">
						<!-- gallery/album -->
						<div class="feature feature-project boxed">
							<a href="gallery-photos-all.html">
								<div class="fbox-photo">
									<img src="{% static 'web/image/image-d.jpg' %}" alt="" srcset="image/image-d-2x.jpg 2x">
								</div>
							</a>
							<div class="fbox-content">
								<h3><a href="gallery-photos-all.html">Awesome 2016</a></h3>
								<p class="sub-lead">Project 2016</p>
							</div>
						</div>
						<!-- End -->
					</div>
				</div>
				<div class="feature-row gallery-row row content">
					<div class="col-md-3 col-sm-6 col-xs-6">
						<!-- gallery/album -->
						<div class="feature feature-project boxed">
							<a href="gallery-photos.html">
								<div class="fbox-photo">
									<img src="{% static 'web/image/image-e.jpg' %}" alt="" srcset="image/image-e-2x.jpg 2x">
								</div>
							</a>
							<div class="fbox-content">
								<h3><a href="gallery-photos.html">Gallery Name</a></h3>
								<p class="sub-lead">Global Event</p>
							</div>
						</div>
						<!-- End -->
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6">
						<!-- gallery/album -->
						<div class="feature feature-project boxed">
							<a href="gallery-photos-all.html">
								<div class="fbox-photo">
									<img src="{% static 'web/image/image-f.jpg' %}" alt="" srcset="image/image-f-2x.jpg 2x">
								</div>
							</a>
							<div class="fbox-content">
								<h3><a href="gallery-photos-all.html">Great Event</a></h3>
								<p class="sub-lead">Local Event</p>
							</div>
						</div>
						<!-- End -->
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6">
						<!-- gallery/album -->
						<div class="feature feature-project boxed">
							<a href="gallery-photos.html">
								<div class="fbox-photo">
									<img src="{% static 'web/image/image-g.jpg' %}" alt="" srcset="image/image-g-2x.jpg 2x">
								</div>
							</a>
							<div class="fbox-content">
								<h3><a href="gallery-photos.html">Album Name</a></h3>
								<p class="sub-lead">Event 2017</p>
							</div>
						</div>
						<!-- End -->
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6">
						<!-- gallery/album -->
						<div class="feature feature-project boxed">
							<a href="gallery-photos-all.html">
								<div class="fbox-photo">
									<img src="{% static 'web/image/image-h.jpg' %}" alt="" srcset="image/image-h-2x.jpg 2x">
								</div>
							</a>
							<div class="fbox-content">
								<h3><a href="gallery-photos-all.html">Awesome 2016</a></h3>
								<p class="sub-lead">Project 2016</p>
							</div>
						</div>
						<!-- End -->
					</div>
				</div>
				<!-- Simple Gallery/Album  #end -->

	        </div>
	    </div>
	</div>


	<!-- Call  action -->
	<div class="call-action call-action-small call-action-simple">
		<div class="overly">
			<div class="container">
				<div class="row">
					<div class="cta-sameline">
						<h3>Ready to start work with us?</h3>
						<a class="btn solid-btn" href="contact.html">Get In Touch</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End call action -->

	<!-- Client logo -->
	<div class="cl-logo section-pad">
		<div class="container">
			<div class="row">
				<div class="owl-carousel loop logo-carousel">
					<div>
						<img alt="" width="190" height="82" src="{% static 'web/img/client logos-1.png' %}">
					</div>
					<div>
						<img alt="" width="190" height="82" src="{% static 'web/img/client logos-2.png' %}">
					</div>
					<div>
						<img alt="" width="190" height="82" src="{% static 'web/img/client logos-3.png' %}">
					</div>
					<div>
						<img alt="" width="190" height="82" src="{% static 'web/img/client logos-4.png' %}">
					</div>
					<div>
						<img alt="" width="190" height="82" src="{% static 'web/img/client logos-5.png' %}">
					</div>
					<div>
						<img alt="" width="190" height="82" src="{% static 'web/img/client logos.png' %}">
					</div>
				</div>
			</div>
		</div>	
	</div>
	<!-- Client logo -->
	
		<!-- Gallery/Filter Script-->
		<script src="{% static 'web/js/filterizr.min.js' %}"></script>
		<script src="{% static 'web/js/magnific-popup.min.js' %}"></script>
	
{% endblock %}