{% extends 'web/partials/base.html' %}
{% load static %}

{% block content %}
	<link rel="stylesheet" type="text/css" href="{% static 'web/css/magnific-popup.css' %}">

	<!-- Banner -->
	<div class="banner inner-page abt-us-banner">
		<div class="banner-content">
			<div class="container">
				<div class="row">
					<div class="banner-text">
						<h1 class="page-title">Battery Pump</h1>
						<p class="page-breadcrumb">Home / Products / <span class="current">Low Pressure Triplex Pump</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End banner -->

	<!-- Main Content Section -->
	<div class="main-content products-section section-pad">
	    <div class="container">
	        <div class="row">

	        	<div class="products-details row">
	        		<div class="col-md-8 res-m-bttm">
						<div class="content">
							<h2>Low Pressure Triplex Pump</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. ullamconaliquip ex ea commodo consequat.</p>
							<p><img src="{% static 'web/image/product-a.jpg' %}" alt=""></p>
							<h3>Products Features</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua quis nostrud. exercitation. ullamconaliquip ex ea commodo consequat.</p>
							<ul class="list-style dots">
								<li>Lorem ipsum dolor sit ensures uninterrupted smooth long life</li>
								<li>Consectetur adipiscing valves are available to suit different pumping</li>
								<li>Lorem ipsum dolor sit always ensures leak free</li>
								<li>Consectetur adipiscing normal valve seats thus become long lasting</li>
								<li>Lorem ipsum dolor sit nominal maintenance</li>
							</ul>
							<h4>Accessories</h4>
							<ul class="list-style dots">
								<li>Safety Relief Valve</li>
								<li>Lorem Nozzle</li>
								<li>Trigger Gun / Handle Bar</li>
								<li>Unloading Valve</li>
							</ul>
							<p><img src="{% static 'web/image/product-b.jpg' %}" alt=""></p>
							<h4>Specification</h4>
							<div class="table-responsive">          
								<table class="table">
								<thead>
									<tr>
										<th>Name</th>
										<th>Data</th>
										<th>Range</th>
										<th>Dimension</th>
										<th>Value</th>
										<th>Capacity</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Low Pressure Triplex</td>
										<td>34</td>
										<td>35</td>
										<td>02x34"</td>
										<td>543.04</td>
										<td>40k</td>
									</tr>
									<tr>
										<td>Low Pressure Triplex</td>
										<td>34</td>
										<td>35</td>
										<td>02x34"</td>
										<td>543.04</td>
										<td>40k</td>
									</tr>
									<tr>
										<td>Low Pressure Triplex</td>
										<td>34</td>
										<td>35</td>
										<td>02x34"</td>
										<td>543.04</td>
										<td>40k</td>
									</tr>
									<tr>
										<td>Low Pressure Triplex</td>
										<td>34</td>
										<td>35</td>
										<td>02x34"</td>
										<td>543.04</td>
										<td>40k</td>
									</tr>
									<tr>
										<td>Low Pressure Triplex</td>
										<td>34</td>
										<td>35</td>
										<td>02x34"</td>
										<td>543.04</td>
										<td>40k</td>
									</tr>
								</tbody>
								</table>
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>				
							<div class="feature-imagebox border download-action">
								<div class="block">
									<h3>Download PDF Datasheet</h3>
									<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
									<a href="#" target="_blank" class="btn solid-btn">Download PDF <i class="fa fa-file-pdf-o"></i> </a>
								</div>
							</div>
						</div>
					</div>

					<!-- Sidebar -->
					<div class="col-md-4">
						<div class="sidebar-right">

							<div class="wgs-box wgs-menus">
								<h3 class="wgs-heading">Featured Products</h3>
								<div class="wgs-content">
									<ul class="list list-grouped">
										<li class="list-heading">
											<a href="#"><span>Imported Products</span></a>
											<ul>
												<li><a href="product-single.html">Electronics Modules</a></li>
												<li><a href="product-single.html">Battery Pumps</a></li>
											</ul>
										</li>
										<li class="list-heading">
											<span>Exported Products</span>
											<ul>
												<li><a href="product-single.html">Cerels product</a></li>
												<li><a href="product-single.html">Raw Cotton</a></li>
												<li><a href="product-single.html">Tyre Tubes</a></li>
											</ul>
										</li>
									</ul>
								</div>
							</div>

							<div class="wgs-box wgs-contact-info">
								<h3 class="wgs-heading">Contact Information</h3>
								<div class="wgs-content boxed">
									<ul class="contact-list">
										<li>
											<i class="fa fa-map" aria-hidden="true"></i>
											<span>1234 Sed ut perspiciatis Road, <br>At vero eos, D58 8975, London.</span>
										</li>
										<li>
											<i class="fa fa-phone" aria-hidden="true"></i>
											<span>(123) 4567 8910</span>
										</li>
										<li>
											<i class="fa fa-envelope" aria-hidden="true"></i>
											<span>Email : <a href="#">info@sitename.com</a></span>
										</li>
									</ul>
								</div>
							</div>

							<div class="wgs-box boxed">
								<h3 class="wgs-heading">Download Datasheet</h3>
								<div class="wgs-content">
									<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
									<p>
										<a href="#" target="_blank" class="btn btn-full solid-btn">Download PDF <i class="fa fa-file-pdf-o"></i> </a>
										<a href="#" target="_blank" class="btn btn-full btn-trans">View Original <i class="fa fa-external-link"></i></a>
									</p>
								</div>
							</div>

						</div>
					</div>
					<!-- Sidebar #end -->
	        	</div>

	        </div>
	    </div>
	</div>
	<!-- End Project section -->
	<!-- Call  action -->
	<div class="call-action call-action-small call-action-simple">
		<div class="overly">
			<div class="container">
				<div class="row">
					<div class="cta-sameline">
						<h3>Ready to get this product?</h3>
						<a class="btn solid-btn" href="contact.html">Get In Touch</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End call action -->

	<!-- Gallery/Filter Script-->
	<script src="{% static 'web/js/filterizr.min.js' %}"></script>
	<script src="{% static 'web/js/magnific-popup.min.js' %}"></script>
{% endblock %}