{% extends 'web/partials/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'web/css/magnific-popup.css' %}">

	<!-- Banner -->
	<div class="banner inner-page abt-us-banner">
		<div class="banner-content">
			<div class="container">
				<div class="row">
					<div class="banner-text">
						<h1 class="page-title">Our Projects</h1>
						<p class="page-breadcrumb">Home / <span class="current">Projects</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End banner -->
	<!-- Project Section -->
	<div class="projects-section section-pad">
	    <div class="container">
	        <div class="row">

	        	<div class="col-md-offset-2 col-md-8 text-center content">
					<h2 class="section-heading">OUR PROJECTS</h2>
					<p>Cepsum dolor sit amet consectetur to adipiscing elit, sed dot eiusmod tempor incididunt labore et dolore magna aliqua. Veniam quis nostrud exercitation ullamco laboris.</p>
				</div>

				<!-- Projects - Filter Menu -->
				<div class="clear"></div>
				<div class="gallery-lists filter-menu text-center">
                    <ul class="list">
                        <li class="active" data-filter="all">all</li>
                        <li data-filter="1">Building</li>
                        <li data-filter="2">Transport</li>
                        <li data-filter="3">Consulting</li>
                        <li data-filter="4">Constration</li>
                    </ul>
				</div>
				<!-- Projects Filter section (!required 'gallery-filter' class name in gallery & also filter-menu section above) -->
				<div class="gallery gallery-filter gallery-project gallery-filled project-morden with-caption hover-fade">

					<ul class="photos-list col-x4">
						<li class="filtr-item" data-category="1">
							<div class="photo">
								<img src="{% static 'web/image/image-a-2x.jpg' %}" alt="Photo Title 1">
								<div class="photo-link">
									<span class="links">
										<a class="btn more-link" href="project-single.html">View Projects</a>
										<a class="btn single-lightbox" href="image/gallery1-large.jpg" title="Photo Title 1">Enlarge</a>
									</span>
								</div>
							</div>
							<div class="photo-caption">
								<a href="project-single.html">
									<h4>Sea Port</h4>
									<p>Long Island</p>
								</a>
							</div>
						</li>
						<li class="filtr-item" data-category="2">
							<div class="photo">
								<img src="{% static 'web/image/image-b-2x.jpg' %}" alt="Photo Title 2">
								<div class="photo-link">
									<span class="links">
										<a class="btn more-link" href="project-single.html">View Projects</a>
										<a class="btn single-lightbox" href="image/gallery2-large.jpg" title="Photo Title 2">Enlarge</a>
									</span>
								</div>
							</div>
							<div class="photo-caption">
								<a href="project-single.html">
									<h4>Packaging Industry</h4>
									<p>City Island</p>
								</a>
							</div>
						</li>
						<li class="filtr-item" data-category="3">
							<div class="photo">
								<img src="{% static 'web/image/image-c-2x.jpg' %}" alt="Photo Title 3">
								<div class="photo-link">
									<span class="links">
										<a class="btn more-link" href="project-single.html">View Projects</a>
										<a class="btn single-lightbox" href="image/gallery3-large.jpg" title="Photo Title 3">Enlarge</a>
									</span>
								</div>
							</div>
							<div class="photo-caption">
								<a href="project-single.html">
									<h4>Energry Power</h4>
									<p>Queen City Square</p>
								</a>
							</div>
						</li>
						<li class="filtr-item" data-category="3">
							<div class="photo">
								<img src="{% static 'web/image/image-d-2x.jpg' %}" alt="Photo Title 4">
								<div class="photo-link">
									<span class="links">
										<a class="btn more-link" href="project-single.html">View Projects</a>
										<a class="btn single-lightbox" href="image/gallery4-large.jpg" title="Photo Title 4">Enlarge</a>
									</span>
								</div>
							</div>
							<div class="photo-caption">
								<a href="project-single.html">
									<h4>Herver Tower</h4>
									<p>Square City, UK</p>
								</a>
							</div>
						</li>
						<li class="filtr-item" data-category="4">
							<div class="photo">
								<img src="{% static 'web/image/image-e-2x.jpg' %}" alt="Photo Title 5">
								<div class="photo-link">
									<span class="links">
										<a class="btn more-link" href="project-single.html">View Projects</a>
										<a class="btn single-lightbox" href="image/gallery5-large.jpg" title="Photo Title 5">Enlarge</a>
									</span>
								</div>
							</div>
							<div class="photo-caption">
								<a href="project-single.html">
									<h4>Shipping Projects</h4>
									<p>Island Bay</p>
								</a>
							</div>
						</li>
						<li class="filtr-item" data-category="1, 3">
							<div class="photo">
								<img src="{% static 'web/image/image-f-2x.jpg' %}" alt="Photo Title 6">
								<div class="photo-link">
									<span class="links">
										<a class="btn more-link" href="project-single.html">View Projects</a>
										<a class="btn single-lightbox" href="image/gallery6-large.jpg" title="Photo Title 6">Enlarge</a>
									</span>
								</div>
							</div>
							<div class="photo-caption">
								<a href="project-single.html">
									<h4>Green Building Projects</h4>
									<p class="sub-lead">Island City, NY</p>
								</a>
							</div>
						</li>

						<li class="filtr-item" data-category="4">
							<div class="photo">
								<img src="{% static 'web/image/image-g-2x.jpg' %}" alt="Photo Title 7">
								<div class="photo-link">
									<span class="links">
										<a class="btn more-link" href="project-single.html">View Projects</a>
										<a class="btn single-lightbox" href="image/gallery7-large.jpg" title="Photo Title 7">Enlarge</a>
									</span>
								</div>
							</div>
							<div class="photo-caption">
								<a href="project-single.html">
									<h4>Construction Project</h4>
									<p>Lovely View</p>
								</a>
							</div>
						</li>
						<li class="filtr-item" data-category="2">
							<div class="photo">
								<img src="{% static 'web/image/image-h-2x.jpg' %}" alt="Photo Title 8">
								<div class="photo-link">
									<span class="links">
										<a class="btn more-link" href="project-single.html">View Projects</a>
										<a class="btn single-lightbox" href="image/gallery8-large.jpg" title="Photo Title 8">Enlarge</a>
									</span>
								</div>
							</div>
							<div class="photo-caption">
								<a href="project-single.html">
									<h4>Road Tranship</h4>
									<p>Lovely View</p>
								</a>
							</div>
						</li>
					</ul>

				</div>
				<!-- Project Gallery #end -->

	        </div>
	    </div>
	</div>
	<!-- End Project section -->
	<!-- Call  action -->
	<div class="call-action call-action-small parallaxie has-parallax" style="background:url('image/call-action-bg.jpg');">
		<div class="overly">
			<div class="container">
				<div class="row">
					<div class="cta-sameline">
						<h3>Ready to start work with us?</h3>
						<a class="btn solid-btn" href="contact.html">Get In Touch</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End call action -->

	<!-- Client logo -->
	<div class="cl-logo section-pad">
		<div class="container">
			<div class="row">
				<div class="owl-carousel loop logo-carousel">
					<div>
						<img alt="" width="190" height="82" src="{% static 'web/img/client logos-1.png' %}">
					</div>
					<div>
						<img alt="" width="190" height="82" src="{% static 'web/img/client logos-2.png' %}">
					</div>
					<div>
						<img alt="" width="190" height="82" src="{% static 'web/img/client logos-3.png' %}">
					</div>
					<div>
						<img alt="" width="190" height="82" src="{% static 'web/img/client logos-4.png' %}">
					</div>
					<div>
						<img alt="" width="190" height="82" src="{% static 'web/img/client logos-5.png' %}">
					</div>
					<div>
						<img alt="" width="190" height="82" src="{% static 'web/img/client logos.png' %}">
					</div>
				</div>
			</div>
		</div>	
	</div>
	<!-- Client logo -->

{% endblock %}
	<!-- Gallery/Filter Script-->
	<script src="{% static 'web/js/filterizr.min.js' %}"></script>
	<script src="{% static 'web/js/magnific-popup.min.js' %}"></script>