{% extends 'web/partials/base.html' %}
{% load static %}

{% block content %}
	<!-- Banner -->
	<div class="banner inner-page service-banner">
		<div class="banner-content">
			<div class="container">
				<div class="row">
					<div class="banner-text">
						<h1 class="page-title">Our services</h1>
						<p class="page-breadcrumb">Home / <span class="current">Our Services</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End banner -->

	<!-- Main Content -->
	<div class="main-content ser-page section-pad">
		<div class="container">
			<div class="row">

				<div class="col-md-offset-2 col-md-8 text-center content">
					<h2 class="section-heading">Services Overview</h2>
					<p>Cepsum dolor sit amet consectetur to adipiscing elit, sed dot eiusmod tempor incididunt labore et dolore magna aliqua. Veniam quis nostrud exercitation ullamco laboris.</p>
				</div>
				<div class="clear"></div>

				<!-- Service/Feature Row -->
				<div class="feature-row row content">
					<div class="col-sm-4">
						<!-- featured box for service -->
						<div class="feature boxed">
							<a href="service-single.html">
								<div class="fbox-photo">
									<img src="{% static 'web/image/image-a.jpg' %}" alt="" srcset="{% static 'web/image/image-a-2x.jpg 2x' %}">
								</div>
							</a>
							<div class="fbox-content">
								<h3><a href="service-single.html">Land transport</a></h3>
								<p>Aidid ipsum dolor sit amet consec adipis elit sed do eiusmod tempor incididut labore et dolore magna aliqua natus.</p>
							</div>
						</div>
						<!-- End Feature box -->
					</div>
					<div class="col-sm-4">
						<!-- featured box for service -->
						<div class="feature boxed">
							<a href="service-single-2.html">
								<div class="fbox-photo">
									<img src="{% static 'wev/image/image-b.jpg' %}" alt="" srcset="{% static 'web/image/image-b-2x.jpg 2x' %}">
								</div>
							</a>
							<div class="fbox-content">
								<h3><a href="service-single.html">World Transport</a></h3>
								<p>Widid ipsum dolor sit amet consec adipis elit sed do eiusmod tempor incididut labore et dolore magna aliqua natus.</p>
							</div>
						</div>
						<!-- End Feature box -->
					</div>
					<div class="col-sm-4">
						<!-- featured box for service -->
						<div class="feature boxed">
							<a href="service-single.html">
								<div class="fbox-photo">
									<img src="image/image-c.jpg" alt="" srcset="image/image-c-2x.jpg 2x">
								</div>
							</a>
							<div class="fbox-content">
								<h3><a href="service-single.html">Warehousing</a></h3>
								<p>Tidid ipsum dolor sit amet consec adipis elit sed do eiusmod tempor incididut labore et dolore magna aliqua natus.</p>
							</div>
						</div>
						<!-- End Feature box -->
					</div>
				</div>
				<!-- Service Row #end -->
				
			</div>			
		</div>
	</div>
	<!-- End Main content -->
	<!-- Main Content -->
	<div class="main-content bg-light ser-page section-pad">
		<div class="container">
			<div class="row">

				<div class="col-md-offset-2 col-md-8 text-center content">
					<h2 class="section-heading">How can we help you?</h2>
					<p>Cepsum dolor sit amet consectetur to adipiscing elit, sed dot eiusmod tempor incididunt labore et dolore magna aliqua. Veniam quis nostrud exercitation ullamco laboris.</p>
				</div>
				<div class="clear"></div>
				<!-- Service Row  -->
				<div class="feature-row row content">
					<div class="col-md-3 col-sm-6 col-xs-6">
						<!-- featured box for service -->
						<div class="feature boxed text-center">
							<a href="service-single.html">
								<div class="fbox-photo">
									<img src="image/image-d.jpg" alt="" srcset="{% static 'wqeb/image/image-d-2x.jpg 2x' %}">
								</div>
							</a>
							<div class="fbox-content">
								<h3><a href="service-single.html">Manufactures</a></h3>
								<p class="sub-lead">Lncididut labore et dolore magna</p>
								<p>Sidid ipsum dolor sit amet consec adipis elit sed do eiusmod tempor incididut labore et dolore.</p>
								<p><a class="more-link" href="service-single.html">See Details</a></p>
							</div>
						</div>
						<!-- End Feature box -->
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6">
						<!-- featured box for service -->
						<div class="feature boxed text-center">
							<a href="service-single.html">
								<div class="fbox-photo">
									<img src="{% static 'web/image/image-e.jpg' %}" alt="" srcset="{% static 'web/image/image-e-2x.jpg 2x' %}">
								</div>
							</a>
							<div class="fbox-content">
								<h3><a href="service-single.html">Traders</a></h3>
								<p class="sub-lead">Labore incididut et dolore magna</p>
								<p>Troid ipsum dolor sit amet consec adipis elit sed do eiusmod tempor incididut labore et dolore.</p>
								<p><a class="more-link" href="service-single.html">See Details</a></p>
							</div>
						</div>
						<!-- End Feature box -->
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6">
						<!-- featured box for service -->
						<div class="feature boxed text-center">
							<a href="service-single.html">
								<div class="fbox-photo">
									<img src="{% static 'web/image/image-f.jpg' %}" alt="" srcset="{% static 'web/image/image-f-2x.jpg 2x' %}">
								</div>
							</a>
							<div class="fbox-content">
								<h3><a href="service-single.html">Retailers</a></h3>
								<p class="sub-lead">Dolore incididut labore et magna</p>
								<p>Ridid ipsum dolor sit amet consec adipis elit sed do eiusmod tempor incididut labore et dolore.</p>
								<p><a class="more-link" href="service-single.html">See Details</a></p>
							</div>
						</div>
						<!-- End Feature box -->
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6">
						<!-- featured box for service -->
						<div class="feature boxed text-center">
							<a href="service-single.html">
								<div class="fbox-photo">
									<img src="{% static 'web/image/image-g.jpg' %}" alt="" srcset="{% static 'web/image/image-g-2x.jpg 2x' %}">
								</div>
							</a>
							<div class="fbox-content">
								<h3><a href="service-single.html">Electrical</a></h3>
								<p class="sub-lead">incididut labore et dolore magna</p>
								<p>Ridid ipsum dolor sit amet consec adipis elit sed do eiusmod tempor incididut labore et dolore.</p>
								<p><a class="more-link" href="service-single.html">See Details</a></p>
							</div>
						</div>
						<!-- End Feature box -->
					</div>
				</div>
				<!-- Service Row #end -->

			</div>			
		</div>
	</div>
	<!-- End Main content -->

	<!-- Call  action -->
	<div class="call-action call-action-small parallaxie has-parallax" style="background:url('{% static 'web/image/call-action-bg.jpg' %}');">
		<div class="overly">
			<div class="container">
				<div class="row">
					<div class="cta-sameline">
						<h3>Ready to start work with us?</h3>
						<a class="btn solid-btn" href="contact.html">Get In Touch</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End call action -->

	<!-- Client logo -->
	<div class="cl-logo section-pad">
		<div class="container">
			<div class="row">
				<div class="owl-carousel loop logo-carousel">
					<div>
						<img alt="" width="190" height="82" src="{% static 'web/img/client logos-1.png' %}">
					</div>
					<div>
						<img alt="" width="190" height="82" src="{% static 'web/img/client logos-2.png' %}">
					</div>
					<div>
						<img alt="" width="190" height="82" src="{% static 'web/img/client logos-3.png' %}">
					</div>
					<div>
						<img alt="" width="190" height="82" src="{% static 'web/img/client logos-4.png' %}">
					</div>
					<div>
						<img alt="" width="190" height="82" src="{% static 'web/img/client logos-5.png' %}">
					</div>
					<div>
						<img alt="" width="190" height="82" src="{% static 'web/img/client logos.png' %}">
					</div>
				</div>
			</div>
		</div>	
	</div>
	<!-- Client logo -->
{% endblock %}