{% extends 'web/partials/base.html' %}
{% load static %}

{% block content %}


	<!-- Banner -->
	<div class="banner inner-page service-banner">
		<div class="banner-content">
			<div class="container">
				<div class="row">
					<div class="banner-text">
						<h1 class="page-title">Land Transport</h1>
						<p class="page-breadcrumb">Home / Service / <span class="current">Land Transport</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End banner -->

	<!-- Main content -->
	<div class="main-content ser-single section-pad">
		<div class="container">
			<div class="row">
				<div class="service-wrapper row">
					<div class="col-md-8 res-m-bttm">
						<div class="content">
							<img src="{% static 'web/image/service-img.jpg' %}" alt="">
							<h2>Land Transportation</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. ullamconaliquip ex ea commodo consequat.</p>
						
							<h3>Our Benefits</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua quis nostrud. exercitation. ullamconaliquip ex ea commodo consequat.</p>
							<ul class="list-style arrow">
								<li>Brokerage services</li>
								<li>Logistic services</li>
								<li>Door to door delivery</li>
								<li>Reliable services</li>
								<li>More adipiscing elit</li>
							</ul>
							<h4>More About Land Transportation</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua quis nostrud. exercitation. ullamconaliquip ex ea commodo.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua quis nostrud. exercitation. Ullamconaliquip ex ea commodo consequat sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="service-right">
							<div class="service-category">
								<h3 class="right-heading">Our services</h3>
								<ul class="icon-list-over">
									<li class="clearfix">
										<a href="service-single.html">
											<div class="icon-wrapper">
												<span class="icon icon-truck"></span>
											</div>
											<p>Land Transport</p>
										</a>
									</li>
									<li class="clearfix">
										<a href="service-single-2.html">
											<div class="icon-wrapper">
												<span class="icon icon-plane"></span>
											</div>
											<p>Worldwide Transport</p>
										</a>
									</li>
									<li class="clearfix">
										<a href="#">
											<div class="icon-wrapper">
												<span class="icon icon-lorry"></span>
											</div>
											<p>Warehousing</p>
										</a>
									</li>
									<li class="clearfix">
										<a href="#">
											<div class="icon-wrapper">
												<span class="icon icon-ship"></span>
											</div>
											<p>Sea Freight</p>
										</a>
									</li>
									<li class="clearfix">
										<a href="#">
											<div class="icon-wrapper">
												<span class="icon icon-envelope"></span>
											</div>
											<p>Fast Delivery</p>
										</a>
									</li>
									<li class="clearfix">
										<a href="#">
											<div class="icon-wrapper">
												<span class="icon icon-cup"></span>
											</div>
											<p>Reliable</p>
										</a>
									</li>
								</ul>
							</div>
							<div class="service-contact">
								<h3 class="right-heading">Our Address</h3>
								<div class="map-holder">
									<div id="gmap"></div>
								</div>
								<ul class="contact-list">
									<li>
										<i class="fa fa-map" aria-hidden="true"></i>
										<span>1234 Sed ut perspiciatis Road, <br>At vero eos, D58 8975, London.</span>
									</li>
									<li>
										<i class="fa fa-phone" aria-hidden="true"></i>
										<span>Toll Free : (123) 4567 8910<br>
										Telephone : (123) 1234 5678</span>
									</li>
									<li>
										<i class="fa fa-envelope" aria-hidden="true"></i>
										<span>Email : <a href="#">info@sitename.com</a><br>
										Web : <a href="#">www.sitename.com</a></span>
									</li>
									<li>
										<i class="fa fa-clock-o" aria-hidden="true"></i><span>Sat - Thu: 8AM - 7PM </span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Main content -->
	{% endblock %}