{% extends 'web/partials/base.html' %}
{% load static %}

{% block content %}

	<!-- Banner -->
	<div class="banner inner-page service-banner">
		<div class="banner-content">
			<div class="container">
				<div class="row">
					<div class="banner-text">
						<h1 class="page-title">Warehousing</h1>
						<p class="page-breadcrumb">Home / Service / <span class="current">Warehousing</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End banner -->

	<!-- Main content -->
	<div class="main-content ser-single">
		<div class="container section-pad">
			<div class="row">
				<div class="content clearfix">
					<h2>Warehousing</h2>
					<p><img class="alignright col-md-6" src="image/service-img.jpg" alt=""> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa. adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
					<div class="gaps size-md"></div>
					<div class="col-md-6 npl">
						<h3>Our Benefits</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua quis nostrud. exercitation. ullamconaliquip ex ea commodo consequat.</p>
						<ul class="list-style arrow">
							<li>Brokerage services</li>
							<li>Logistic services</li>
							<li>Door to door delivery</li>
							<li>Reliable</li>
						</ul>
					</div>
					<div class="col-md-6 pad-0">
						<h3>Our Features</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua quis nostrud. exercitation. ullamconaliquip ex ea commodo consequat.</p>
						<ul class="list-style dots">
							<li>Brokerage services</li>
							<li>Logistic services</li>
							<li>Door to door delivery</li>
							<li>Reliable</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="call-action parallaxie has-parallax" style="background:url('image/call-action-bg.jpg');">
			<div class="overly">
				<div class="container">
					<div class="row">
						<div class="text-md">
							<h3>We are dedicated to provide the best services</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. ullamconaliquip ex ea commodo consequat sed do eiusmod tempor.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container section-pad">
			<div class="row">

				<div class="service-block content">					
                    <h3>More About Warehousing</h3>
                    <div class="col-md-6 npl">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerci liquip ex modo consequat. So eiusm tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="col-md-6  pad-0">
                        <p>Ut enim ad minim veniam, quis nostrud exercita conaliquip ex commodo consequat. To eiusmod tempor incididunt ut labore et dolore magna aliqua ation ullamco laboris nisi ut aliquip scing elit tempor incididunt.</p>
                    </div>
					<div class="gaps size-md"></div>
					<div class="col-md-6 npl">
						<h4>Lorem ipsum dolor</h4>
						<p>Exercitation conaliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua quis nostrud.</p>
					</div>
					<div class="col-md-6 pad-0">
						<h4>Sede doidunt eiusmod</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua quis nostrud. Exercitation conaliquip ex ea commodo consequat.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="service-lists section-pad">
			<div class="container">
				<div class="row">
					<div class="service-category">
						<ul class="icon-list-over">
							<li class="clearfix">
								<a href="service-single.html">
									<div class="icon-wrapper">
										<span class="icon icon-truck"></span>
									</div>
									<p>Land Transport</p>
								</a>
							</li>
							<li class="clearfix">
								<a href="service-single-2.html">
									<div class="icon-wrapper">
										<span class="icon icon-plane"></span>
									</div>
									<p>Worldwide Transport</p>
								</a>
							</li>
							<li class="clearfix">
								<a href="#">
									<div class="icon-wrapper">
										<span class="icon icon-lorry"></span>
									</div>
									<p>Warehousing</p>
								</a>
							</li>
							<li class="clearfix">
								<a href="#">
									<div class="icon-wrapper">
										<span class="icon icon-ship"></span>
									</div>
									<p>Sea Freight</p>
								</a>
							</li>
							<li class="clearfix">
								<a href="#">
									<div class="icon-wrapper">
										<span class="icon icon-envelope"></span>
									</div>
									<p>Fast Delivery</p>
								</a>
							</li>
							<li class="clearfix">
								<a href="#">
									<div class="icon-wrapper">
										<span class="icon icon-cup"></span>
									</div>
									<p>Reliable</p>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Main content -->
{% endblock %}