{% extends 'web/partials/base.html' %}
{% load static %}

{% block content %}

	<!-- Banner -->
	<div class="banner inner-page abt-us-banner">
		<div class="banner-content">
			<div class="container">
				<div class="row">
					<div class="banner-text">
						<h1 class="page-title">Our Teams</h1>
						<p class="page-breadcrumb">Home / About / <span class="current">Teams</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End banner -->

	<!-- team -->
	<div class="teams section-pad">
		<div class="container">
			<div class="row">

				<div class="col-md-offset-2 col-md-8 text-center content">
					<h2 class="section-heading">Executive Team</h2>
					<p>Cepsum dolor sit amet consectetur to adipiscing elit, sed dot eiusmod tempor incididunt labore et
						dolore magna aliqua. Veniam quis nostrud exercitation ullamco laboris.</p>
				</div>
				<div class="clear"></div>

				<div class="content row team-member-row">
					<div class="col-md-3 col-sm-6 col-xs-6">
						<!-- Team Profile -->
						<div class="team-member">
							<a href="team-single.html">
								<div class="team-photo">
									<img alt="" src="{% static 'web/image/team1.jpg' %}" srcset="{% static 'web/image/team1-2x.jpg 2x' %}">
								</div>
							</a>
							<div class="team-info">
								<h4 class="name"><a href="team-single.html">Mary Till</a></h4>
								<p class="sub-title">Executive Officer</p>
								<p>Lorem ipsum dolor sit amet consectetur to adipiscing elit, sed dot eiusmod tempor
									incididunt labore et dolore magna aliqua. Veniam quis nostrud exercitation ullamco
									laboris nisiut.</p>
							</div>
							<ul class="social">
								<li>
									<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
						<!-- Team #end -->
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6">
						<!-- Team Profile -->
						<div class="team-member">
							<a href="team-single.html">
								<div class="team-photo">
									<img alt="" src="{% static 'web/image/team2.jpg' %}" srcset="{% static 'web/image/team2-2x.jpg 2x' %}">
								</div>
							</a>
							<div class="team-info">
								<h4 class="name"><a href="team-single.html">Nicholas Johnstone</a></h4>
								<p class="sub-title">Senior Executive</p>
								<p>Lorem ipsum dolor sit amet consectetur to adipiscing elit, sed dot eiusmod tempor
									incididunt labore et dolore magna aliqua. Veniam quis nostrud exercitation ullamco
									laboris nisiut.</p>
							</div>
							<ul class="social">
								<li>
									<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
						<!-- Team #end -->
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6">
						<!-- Team Profile -->
						<div class="team-member">
							<a href="team-single.html">
								<div class="team-photo">
									<img alt="" src="{% static 'web/image/team3.jpg' %}" srcset="{% static 'web/image/team3-2x.jpg 2x' %}">
								</div>
							</a>
							<div class="team-info">
								<h4 class="name"><a href="team-single.html">Thomas Crossley</a></h4>
								<p class="sub-title">Oparation Manager</p>
								<p>Lorem ipsum dolor sit amet consectetur to adipiscing elit, sed dot eiusmod tempor
									incididunt labore et dolore magna aliqua. Veniam quis nostrud exercitation ullamco
									laboris nisiut.</p>
							</div>
							<ul class="social">
								<li>
									<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
						<!-- Team #end -->
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6">
						<!-- Team Profile -->
						<div class="team-member">
							<a href="team-single.html">
								<div class="team-photo">
									<img alt="" src="{% static 'web/image/team4.jpg' %}" srcset="{% static 'web/image/team4-2x.jpg 2x' %}">
								</div>
							</a>
							<div class="team-info">
								<h4 class="name"><a href="team-single.html">Henry Glasgow</a></h4>
								<p class="sub-title">CEO &nbsp; Vice-President</p>
								<p>Lorem ipsum dolor sit amet consectetur to adipiscing elit, sed dot eiusmod tempor
									incididunt labore et dolore magna aliqua. Veniam quis nostrud exercitation ullamco
									laboris nisiut.</p>
							</div>
							<ul class="social">
								<li>
									<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
								</li>
							</ul>
						</div>
						<!-- Team #end -->
					</div>
				</div><!-- TeamRow #end -->

			</div>
		</div>
	</div>
	<!-- End team -->
	<!-- Team Alter -->
	<div class="teams bg-light section-pad">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-2 col-md-8 text-center content">
					<h3 class="section-heading">Our Working Team</h3>
					<p>Lorem ipsum dolor sit amet consectetur to adipiscing elit labore et dolore.</p>
				</div>
				<div class="clear"></div>
				<div class="content row team-member-row">
					<div class="col-md-3 col-sm-6 col-xs-6">
						<!-- Team Profile -->
						<div class="team-member">
							<div class="team-photo">
								<img alt="" src="{% static 'web/image/team5.jpg' %}" srcset="{% static 'web/image/team5-2x.jpg 2x' %}">
							</div>
							<div class="team-info">
								<h4 class="name">Crossley Thomas</h4>
								<p class="sub-title">Supports</p>
							</div>
						</div>
						<!-- Team #end -->
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6">
						<!-- Team Profile -->
						<div class="team-member">
							<div class="team-photo">
								<img alt="" src="{% static 'web/image/team6.jpg' %}" srcset="{% static 'web/image/team6-2x.jpg 2x' %}">
							</div>
							<div class="team-info">
								<h4 class="name">Till Marry</h4>
								<p class="sub-title">Coordinator</p>
							</div>
						</div>
						<!-- Team #end -->
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6">
						<!-- Team Profile -->
						<div class="team-member">
							<div class="team-photo">
								<img alt="" src="{% static 'web/image/team7.jpg' %}" srcset="{% static 'web/image/team7-2x.jpg 2x' %}">
							</div>
							<div class="team-info">
								<h4 class="name">Johnstone Nicholas</h4>
								<p class="sub-title">Accountant</p>
							</div>
						</div>
						<!-- Team #end -->
					</div>
					<div class="col-md-3 col-sm-6 col-xs-6">
						<!-- Team Profile -->
						<div class="team-member">
							<div class="team-photo">
								<img alt="" src="{% static 'web/image/team8.jpg' %}" srcset="{% static 'web/image/team8-2x.jpg 2x' %}">
							</div>
							<div class="team-info">
								<h4 class="name">Till Marry</h4>
								<p class="sub-title">Specialist</p>
							</div>
						</div>
						<!-- Team #end -->
					</div>
				</div><!-- TeamRow #end -->

			</div>
		</div>
	</div>
	<!-- End team alter -->

	<!-- Call  action -->
	<div class="call-action call-action-small parallaxie has-parallax"
		style="background:url('{% static 'web/image/call-action-bg.jpg' %}');">
		<div class="overly">
			<div class="container">
				<div class="row">
					<div class="cta-sameline">
						<h3>Ready to start work with us?</h3>
						<a class="btn solid-btn" href="contact.html">Get In Touch</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End call action -->
	{% endblock %}